<div>
    <button type="button" class="btn btn-light" routerLink="cadastro">Cadastrar Publicação</button>
</div>

<div class="mt-2">
    <div class="card" id="card-publicacao">
        <div class="card-header">
            Lorem Ipsum
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada efficitur lacus, eu porttitor augue.
                Donec a nulla posuere, molestie felis id, sagittis lectus. Sed massa ipsum, pretium sit amet molestie a, dictum id mi.
                Nulla dapibus ante vitae enim fringilla, nec vehicula nibh iaculis. Aenean at odio sed mauris efficitur molestie et a
                tellus. Nam porttitor cursus odio vel malesuada. Pellentesque eu leo aliquet, interdum mauris ac, finibus nunc. Praesent
                nec leo a ante semper laoreet at eget quam. Suspendisse potenti.
            </li>
        </ul>
        <li class="list-group-item">
            <a href="#" class="card-link">Acesse o site da empresa</a>
            <a href="#" class="card-link">Email: emprego.br@oportunidade.com</a>
        </li>
    </div>
</div>
